body {
	font-family: arial;
	text-align: center;
	background-image: url("./table-bg.png");
	color: #79a201;
}

table {
	margin: auto;
	text-align: center;
}

h1,
h3,
span,
.theend {
	color: #7f5834;
}

hr {
	width: 75%;
	border-top: 5px dotted #7f5834;
}

h1 {
	position: relative;
}

h1::before {
	display: block;
	content: "California Backyard Birds";
	position: relative;
	left: 2px;
	top: 38px;
	z-index: 2;
	color: #79a201;
}
